<ion-modal-view class="purchaseModal-background">
    <!-- <ion-header-bar>
        <h1 class="title">Modal View</h1>
    </ion-header-bar> -->
    <!--  <ion-nav-bar  align-title="center">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
    </ion-nav-bar> -->
    <ion-content>
        <div class="purchaseModalPictureSuccess">
            <img ng-src="img/purchase__success_icon.png">
            <button class="button button-small button-clear icon ion-close" ng-click="closePurchaseSuccessWindow(); addToLocalStorage()"></button>
        </div>
        <br>
        <div class="purchaseModal">
            <h4><p>Спасибо за покупку.</p></h4>
            <h4><p>Удачного экзамена!</p></h4>
        </div>
    </ion-content>
</ion-modal-view>
